.main-content {
    background-color: rgb(217, 237, 238);
    height: 100%;
}

.section {
    position: relative;
}

.sides {
    background-color: aliceblue;
}

.section {
    height: 100%;
    text-align: center;
}

.interactions {
    position: absolute;
    right: 0.25em;
    bottom: 0.25em;
}

.pic-interactions {
    position: absolute;
    right: 0.25em;
    bottom: 0.25em;
}

#test {
    background-color: black;
}

#navigation-bar {
    background-color: rgb(236, 236, 236);
}








