.main-content {
    background-color: rgb(217, 237, 238);
    height: 100%;
}

.sides {
    background-color: aliceblue;
}

.section {
    height: 100%;
    text-align: center;
}

#test {
    background-color: black;
}

#navigation-bar {
    background-color: rgb(236, 236, 236);
}






